.control {
    padding: 20px;
    max-width: 400px;
    margin: 50px auto 0 auto;
    background: #fff;
    box-shadow: 3px 3px 10px gray;
}

.control h1 {
    margin: 0;
    font-size: 100px;
    text-align: center;
    color: #3498db;
}

.control .input-text {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    padding: 0 4px;
    list-style: none;
    margin-left: 30px;
    vertical-align: middle;
}

::placeholder {
    color: #ccc;
}

.control .add-item {
    display: inline-block;
    height: 25px;
    margin-left: 15px;
    vertical-align: middle;
}

.todos {
    list-style: none;
    margin: 50px auto;
    padding: 0;
    max-width: 400px;
}

.todoItem {
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
    background-color: #ccc;
}